---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>noo</title>
<meta name="description" content="A Digital Ecosystem built for Europeans, by Europeans. No VC, no surveillance. Join the movement for digital independence." />
<meta property="og:image" content="https://noo.eu/noo-cover.png" />
<meta property="og:title" content="noo" />
<meta property="og:description" content="A Digital Ecosystem built for Europeans, by Europeans. No VC, no surveillance. Join the movement for digital independence." />
<meta property="og:url" content={canonicalURL} />
<meta property="og:type" content="website" />