<footer class="text-center px-4 py-12 bg-eu-blue text-eu-gold space-y-8">
	<div class="noo text-5xl text-white">noo</div>

	<div>Made with ❤️ and ☕️ in the European Union</div>

	<div class="flex justify-between space-x-4 max-w-4xl mx-auto">
		<ul class="flex justify-center space-x-4">
			<li>
				<a href="/terms" class="text-white hover:underline">Terms of Service</a>
			</li>
			<li>
				<a href="/privacy" class="text-white hover:underline">Privacy Policy</a>
			</li>
		</ul>

		<div class="flex space-x-4">
			<a href="http://bsky.app/profile/noo.eu">
				<img src="/bluesky.svg" alt="Follow us on Bluesky" class="h-6 inline-block" />
			</a>
			<a href="https://mastodon.social/@nooeu">
				<img src="/mastodon.svg" alt="Follow us on Mastodon" class="h-6 inline-block" />
			</a>
		</div>
	</div>
</footer>
