---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title="noo" description="" />
</head>
<body class="bg-[#F8F9FA]">
	<slot />
	<Footer />
</body>
</html>
